@import "../../global";

.Chat {
  display: grid;
  width: 100vw;
  height: $content-height;
  grid-template-rows: 1fr 25vh;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "users messages"
    "users input";
  position: relative;
  z-index: 0;

  .users {
    grid-area: users;
    padding: 0 15px;
    background-color: darken($dark, 2%);
  }

  .user-list {
    list-style: none;
    padding: 0;
  }

  .profile-picture {
    border-radius: 100%;
    width: 45px;
    height: 45px;
    margin-bottom: 10px;
  }

  .user {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;

    &.offline {
      filter: grayscale(1);
      color: darkgray;
    }
  }
}
