@import "../../global";

.Chat {
  display: grid;
  width: 100vw;
  height: $content-height;
  grid-template-rows: 1fr 8vh;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "users messages"
    "users input";
  position: relative;
  z-index: 0;

  .users {
    grid-area: users;
    padding: 0 15px;
    background-color: darken($dark, 2%);
    overflow-y: auto;
  }

  .user-list {
    list-style: none;
    padding: 0;
  }

  .profile-picture {
    border-radius: 100%;
    width: 45px;
    height: 45px;
    margin-bottom: 10px;
  }

  .user {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;

    &.offline {
      filter: grayscale(1);
      color: darkgray;
    }
  }

  .input-container {
    grid-area: input;
    display: flex;
    padding: 0 5vw;
    align-items: center;
  }

  .message-input {
    width: 100%;
    height: 35px;
    background-color: lighten($dark, 10%);
    border: none;
    border-radius: 5px;
    color: $light;
    font-size: 1.2rem;
    margin-right: 25px;
    padding: 0 5px;

    &:focus {
      outline: none;
    }
  }

  .send-button {
    background-color: $brand-color;
    color: $light;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2rem;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    height: 33px;

    &:hover {
      background-color: lighten($brand-color, 5%);
    }
    &:focus {
      outline: none;
    }
    &:active {
      background-color: darken($brand-color, 3%);
    }
  }

  .send-icon {
    font-size: 1.2rem;
    margin-right: 7px;
  }

  .messages {
    grid-area: messages;
    overflow-y: auto;
    text-align: left;
  }

  .message-list {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2vw;
  }

  .message-item {
    margin-bottom: 35px;
  }
  .write-database-error-listener {
    display: inline-block;
  }
}
