@import "../../global.scss";

.Landing {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .google-signin-button {
    margin: 16px;
    background-color: #d9382a;
    color: $light;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2rem;
    display: inline-flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: lighten(#d9382a, 3%);
    }
  }

  .google-logo {
    width: 47px;
    height: 47px;
    margin-right: 7px;
  }
}
