@import "../../global.scss";

.ErrorListener {
  color: $dark;
  background-color: #f3b9be;
  margin: 16px;
  padding: 15px;
  border-radius: 5px;

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $dark;
    padding-bottom: 8px;
    font-size: 1.2rem;
  }
  .dismiss-error-button {
    font-size: 1.7rem;
    padding: 0;
    display: inline-flex;
    border: none;
    background: none;
    cursor: pointer;
  }
  .body {
    padding: 2px;
  }
}
