@import "./global.scss";

.App {
  text-align: center;

  .app-header {
    background-color: $brand-color;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: $header-height;
    font-size: 2rem;
  }
}
