@import "./global.scss";

.App {
  text-align: center;

  .app-header {
    background-color: $brand-color;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: $header-height;
    font-size: 2rem;
    box-shadow: 0 5px 2px 5px $brand-color;
  }

  .google-signin-button {
    background-color: #d9382a;
    color: $light;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2rem;
    display: inline-flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: lighten(#d9382a, 3%);
    }
  }

  .google-logo {
    width: 47px;
    height: 47px;
    margin-right: 7px;
  }
}
