@import "./global.scss";

.App {
  text-align: center;

  .app-header {
    background-color: $brand-color;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: $header-height;
    font-size: 2rem;
    box-shadow: 0 5px 2px 5px $brand-color;
  }

  .app-content {
    height: $content-height;
  }
}
