$brand-color: #ee5622;
$dark: #221e22;
$light: #fdfffc;

$link-color: #4ea5d9;
$visited-link-color: #9381ff;

$header-height: 75px;
$content-height: calc(100vh - #{$header-height});

* {
  box-sizing: border-box;
}

html {
  color: $light;
  font-size: 100%;
  background-color: $dark;
}

a {
  color: $link-color;

  &:visited {
    color: $visited-link-color;
  }
}
