$brand-color: #ee5622;
$dark: #221e22;
$light: #fdfffc;

$link-color: #4ea5d9;
$visited-link-color: #9381ff;

$header-height: 75px;
$content-height: calc(100vh - #{$header-height});

* {
  box-sizing: border-box;
  scrollbar-width: auto;
  scrollbar-color: lighten($dark, 10%) $dark;
}

html {
  color: $light;
  font-size: 100%;
  background-color: $dark;
  overflow: hidden;
}

a {
  color: $link-color;

  &:visited {
    color: $visited-link-color;
  }
}

*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: $dark;
}
*::-webkit-scrollbar-thumb {
  background-color: lighten($dark, 10%);
  border-radius: 3px;
}
