$brand-color: #ee5622;
$dark: #221e22;
$light: #fdfffc;

$header-height: 75px;
$content-height: calc(100vh - #{$header-height});

* {
  box-sizing: border-box;
}

html {
  color: $light;
  font-size: 100%;
  background-color: $dark;
}
